@model DbGraf2.viewmodels.ChartViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <img src="@Url.Action("CreateLineChartActionResult")"/>
</p>

    @using (Html.BeginForm("ChartBool", "MeteorologiDatas"))
    {
    <div>
        @Html.CheckBoxFor(model => model.ShowWindSpeed)
        - 
        @Html.DisplayNameFor(model => model.Data.First().WindSpeed)
    </div>

    <div>
        @Html.CheckBoxFor(model => model.ShowHumidity)
        -
        @Html.DisplayNameFor(model => model.Data.First().Humidity)
    </div>

    <div>
        @Html.CheckBoxFor(model => model.ShowPressure)
        -
        @Html.DisplayNameFor(model => model.Data.First().Pressure)
        
    </div>

    <div>
        @Html.CheckBoxFor(model => model.ShowRadiation)
        -
        @Html.DisplayNameFor(model => model.Data.First().Radiation)
    </div>

    <div>
        @Html.CheckBoxFor(model => model.ShowTemperature)
        -
        @Html.DisplayNameFor(model => model.Data.First().Temperature)
    </div>

    <div>
        @Html.CheckBoxFor(model => model.ShowWindDirection)
        -
        @Html.DisplayNameFor(model => model.Data.First().WindDirection)
    </div>

    <button type="submit">Submit</button>
}
    

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data.First().StartDateTime))
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.First().WindDirection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.First().WindSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.First().Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.First().Humidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.First().Radiation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data.First().Pressure)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Data)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WindSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Radiation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressure)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>
